body {
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  margin-bottom: 8rem;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #74b6fd, #1875ec);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  display: inline-block; }
  .heading-secondary:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.heading-tertiary {
  text-align: center;
  margin-bottom: 2rem; }
  .heading-tertiary__main {
    font-size: 3rem;
    font-weight: 400; }
  .heading-tertiary__sub {
    font-size: 1.6rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

html, body {
  scroll-behavior: smooth; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  border-radius: 20rem;
  font-weight: 400;
  transition: all 0.2s;
  position: relative;
  backface-visibility: hidden; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn--to-red:hover, .btn--to-red:active {
  background-color: #c1252c;
  color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  color: #777;
  z-index: 1; }
  .btn--white::after {
    background-color: #fff; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card--medium {
    width: 100%;
    padding-top: 100%; }
  .card--wide {
    width: 100%;
    padding-top: 50%; }
  .card__side {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 0.8s; }
    .card__side--back-1 {
      background-image: linear-gradient(to right bottom, rgba(237, 33, 58, 0.85), rgba(147, 41, 30, 0.85)); }
    .card__side--back-2 {
      background-image: linear-gradient(to right bottom, rgba(241, 95, 121, 0.85), rgba(178, 69, 146, 0.85)); }
    .card__side--back-3 {
      background-image: linear-gradient(to right bottom, rgba(220, 227, 91, 0.85), rgba(69, 182, 73, 0.85)); }
  .card--medium:hover .card__side--front {
    transform: translate(-50%, -50%) rotateY(-180deg); }
  .card--medium .card__side--back {
    transform: translate(-50%, -50%) rotateY(180deg); }
  .card--medium:hover .card__side--back {
    transform: translate(-50%, -50%) rotateY(0deg); }
  .card--wide:hover .card__side--front {
    transform: translate(-50%, -50%) rotateX(-180deg); }
  .card--wide .card__side--back {
    transform: translate(-50%, -50%) rotateX(180deg); }
  .card--wide:hover .card__side--back {
    transform: translate(-50%, -50%) rotateX(0deg); }
  .card__picture {
    background-size: cover;
    height: 70%; }
    .card__picture--1 {
      background-image: url(../img/grace.jpg); }
    .card__picture--2 {
      background-image: url(../img/bilibili-coin.png); }
    .card__picture--3 {
      background-image: url(../img/QM6000.jpg); }
  .card__detail {
    padding: 3rem; }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 400;
    color: #777;
    margin-bottom: 2rem; }
    .card__heading--1 {
      color: #c1252c; }
    .card__heading--2 {
      color: #fb7299; }
    .card__heading--3 {
      color: #72b300; }
  .card__text {
    font-size: 1.6rem;
    color: #777; }
  .card__more-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 80%; }
    .card__more-info--sub {
      font-size: 1.6rem; }
    .card__more-info--main {
      font-size: 4rem;
      margin-bottom: 10rem;
      text-transform: uppercase; }

.event-box {
  font-size: 1.6rem;
  padding: 2.5rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  transition: all 0.5s;
  height: 30rem; }
  .event-box .heading-tertiary__main {
    transition: all 0.5s; }
  .event-box:hover {
    transform: translateY(-2rem); }
    .event-box:hover .heading-tertiary__main {
      color: #c1252c; }
  .event-box__text {
    font-size: 1.6rem; }

.navigation {
  background-color: #fff;
  width: 100%;
  height: 8rem; }
  .navigation__logo-box {
    display: inline-block;
    position: absolute;
    height: 4.5rem;
    top: 50%;
    transform: translateY(-50%); }
  .navigation__logo {
    height: 100%; }
  .navigation__nav {
    position: relative;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto; }
  .navigation__list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:first-child) {
      margin-left: 4rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, #fff 0%, #fff 50%, #c1252c 50%);
    background-size: 300%;
    background-position: 0%;
    transition: all 0.5s;
    border-radius: 0.3rem; }
  .navigation__link--active {
    background-position: 100% !important;
    color: #fff !important; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #fff; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3); }

.col-2-of-3 {
  width: calc(((100% - 6rem * 2) / 3) * 2 + 6rem); }

.col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4); }

.col-2-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 2 + 6rem); }

.col-3-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 3 + 6rem * 2); }

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
  background-size: cover;
  background-position: center center; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  padding: 4rem 0;
  padding-bottom: 0;
  background-color: #333; }
  .footer__logo-box {
    padding-top: 3rem; }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    position: relative;
    height: 4rem;
    margin-bottom: 4rem; }
    .footer__navigation + .row {
      border-top: 0.1rem solid #f7f7f7;
      margin-bottom: 2rem; }
  .footer__list {
    list-style: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #999;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #fff; }
  .footer__link--active {
    color: #fff !important; }
  .footer__contact {
    padding-top: 4rem;
    text-align: right; }
    .footer__contact--heading {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #f7f7f7; }
    .footer__contact--text {
      font-size: 1.6rem;
      color: #999; }
  .footer__copyright {
    text-align: center;
    padding: 1rem 0;
    border-top: 0.1rem solid #f7f7f7;
    font-size: 1.6rem;
    color: #999; }

.section-stories {
  background-color: #f5f5f5;
  padding: 10rem 0; }

.section-events {
  background-color: #eee;
  padding: 10rem 0; }
