body {
    // font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    margin-bottom: 8rem;
    color: $color-white;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        // margin-bottom: 2rem;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        // margin-bottom: 2rem;
    }

}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s;
    display: inline-block;

    &:hover {
        text-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
}

.heading-tertiary {
    text-align: center;
    margin-bottom: 2rem;

    &__main {
        font-size: 3rem;
        font-weight: 400;
    }

    &__sub {
        font-size: $default-font-size;
    }
}