//COLOR
$color-white: #fff;
$color-black: #000;

$color-primary-light: #74b6fd;
$color-primary: #2487fc;
$color-primary-dark: #1875ec;

$color-secondary: #9b242d ;

$color-grey-dark: #777;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 1140px;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;