.event-box {
    font-size: $default-font-size;
    padding: 2.5rem;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    border-radius: 0.3rem;
    // opacity: 0.5;
    transition: all 0.5s;
    height: 30rem;
    .heading-tertiary__main {
        // color: $color-secondary;
        transition: all 0.5s;
    }

    &:hover {
        transform: translateY(-2rem);
        .heading-tertiary__main {
            color: $color-secondary;
        }
    }

    &__text {
        font-size: $default-font-size;
    }
}